################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppSeguimientoEducativo/.vs/AppSeguimientoEducativo/FileContentIndex/9968e5c9-74f6-4cb3-a570-d5aa8c3ba7ca.vsidx
